#calculator {
  color: white;
}

body {
  background-color: #ff9900;
}

h1 {
 font-family: "Arial";
}

#calcOutput {
  background-color: white;
  width: 250px;
  height: 40px;
  margin: auto;
}

#calculator {
  background-color: grey;
  width: 250px;
  margin: auto;
}

#steps {
  padding-left: 50px;
  font-size: 1.5em;
}

a {
  margin: 5px;
}

.bigButton {
  width: 98px;
}